/* index of styles */

/* 
[ 1 ] medaiImports & variables & fontImport $ reseters==>
                                    [ 1-1 ] media imports
                                    [ 1-2 ] resetters
[ 2 ] generals
[ 3 ] general classes
[ 4 ] sections ==>
                    [ 4-1 ] navbar
                    [ 4-2 ] tiltle
                    [ 4-3 ] section body ==>
                                            [ 4-3-1 ] main-event ==>
                                                                    [ 4-3-1-1 ] head-news
                                                                    [ 4-3-1-2 ] light-news
                                            [ 4-3-2 ] sec-event ==>
                                                                    [ 4-3-2-1 ] photo-news
                                                                    [ 4-3-2-2 ] text-news
*/

/* [ 1 ] medaiImports $ reseters ================================================================================================================== >
                                    [ 1-1 ] media imports
                                    [ 1-2 ] resetters */

@import url("queries.css");

:root {
  --serfuce-color: #f8f3eb;
  --bOrange: #fabea1;
  --bYellow: #f8e177;
  --bLob: #c2dddf;
  --bGray: #747270;
  --lGray: #d1d1d1;
  --bGraier: #313131;
}

@font-face {
  font-family: title;
  src: url("../fonts/BERNHC.TTF");
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: var(--serfuce-color);
}

.father {
  padding: 1rem 4rem;
}

/* end medaiImports $ reseters ==================================================================================================================== */

/* [ 2 ] generals ================================================================================================================================= */
p {
  line-height: 140%;
  /* font-weight: 100; */
  font-size: small;
}

audio::-webkit-media-controls-panel {
  background-color: var(--serfuce-color);
}

audio::-webkit-media-controls-play-button {
  background-color: var(--lGray);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

audio::-webkit-media-controls-play-button:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

h2 {
  font-size: 1.25rem;
}
.component div span:last-child {
  font-size: small;
}

a{
  text-decoration: none;
}
/* end [ 2 ] generals ============================================================================================================================= */

/* [ 3 ] general classes ========================================================================================================================== */
.btn {
  background-color: #000;
  color: white;
  padding: 0.5rem 1rem;
  margin: 0 1.5rem;
}

.ground-orange {
  background-color: var(--bOrange);
}

.ground-yellow {
  background-color: var(--bYellow);
}

.ground-lob {
  background-color: var(--bLob);
}

.rounder {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.border-t {
  border-top: 1px solid var(--lGray);
}

.border-b {
  border-bottom: 1px solid var(--lGray);
}

.border-l {
  border-left: 1px solid var(--lGray);
}

.border-r {
  border-right: 1px solid var(--lGray);
}

.capitalizer {
  text-transform: capitalize;
}

.upper-caser {
  text-transform: uppercase;
}

.responsive-img {
  width: 100%;
  max-width: 600px;
  height: auto;
}

.responsive-img2 {
  width: 100%;
  max-width: 50px;
  height: auto;
  max-height: 50px;
  background-color: var(--bGraier);
  margin-right: 0.5rem;
}

.responsive-img3 {
  width: 100%;
  max-width: 250px;
  height: auto;
  max-height: 250px;
  background-color: var(--bGraier);
  margin-right: 0.5rem;
}

.responsive-img4 {
  width: 100%;
  max-width: 20px;
  height: auto;
  max-height: 20px;
  background-color: var(--bGraier);
  margin-right: 0.5rem;
  background-color: transparent;
}

.courierer {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}

.colorgray {
  color: var(--bGray);
}

.colorgraier {
  color: var(--bGraier);
}
/* end [ 3 ] general classes ====================================================================================================================== */

/* [ 4 ] sections ==> */

/* [ 4 ] sections ==> [ 4-1 ] navbar ============================================================================================================== */
.nav-bar {
  justify-content: space-between;
  padding: 0 1.7rem;
}

.nav-bar div:last-child {
  align-items: center;
  align-content: center;
}
.menu-icon {
  height: 15px;
  align-items: baseline !important;
  justify-content: space-around;
}
/* end [ 4 ] sections ==> [ 4-1 ] navbar ========================================================================================================== */

/* [ 4 ] sections ==> [ 4-2 ] tiltle ============================================================================================================== */
.title {
  text-align: center;
}

.title p {
  display: inline-block;
  width: fit-content;
  border-bottom: 2px solid var(--bGraier);
  font-size: 1.5rem;
}
/* end [ 4 ] sections ==> [ 4-2 ] tiltle ========================================================================================================== */

/* [ 4 ] sections ==> [ 4-3 ] body ================================================================================================================ */
.body {
  justify-content: center;
}

/* body ==> [ 4-3-1 ] main-event =================================================================================================================> */

/* main-event ==> [ 4-3-1-1 ] head-news =========================================================================================================== */
.head-news {
  flex-grow: 2;
  padding: 0 1rem;
  margin: 2rem 0;
  width: 100%;
  max-width: 550px;
}

.head-news h2 {
  font-size: 1.5rem;
}
/* main-event ==> end [ 4-3-1-1 ] head-news ======================================================================================================= */

/* main-event ==> [ 4-3-1-2 ] light-news ========================================================================================================== */
.light-news {
  flex-grow: 1;
  max-width: 300px;
  padding: 0 1rem 0 0;
}

.light-news h2 {
  font-size: 2rem;
}

.up {
  padding: 2rem 0;
}

.up h2 {
  margin-top: 0;
}

.up .component {
  height: 50px;
  align-items: center;
}

.down h2 {
  font-size: 1.5rem;
}

/* main-event ==> end [ 4-3-1-2 ] light-news ====================================================================================================== */

/* body ==> end [ 4-3-1 ] main-event =============================================================================================================> */

/* body ==> [ 4-3-2 ] sec-event =================================================================================================================> */
.sec-event {
  width: 100%;
  max-width: 250px;
  margin: 2rem 1rem;
}

/* sec-event ==> [ 4-3-2-1 ] photo-news =========================================================================================================== */
.photo-news {
  width: 100%;
  margin-bottom: 1rem;
}
/* sec-event ==> end [ 4-3-2-1 ] photo-news ======================================================================================================= */

/* sec-event ==> [ 4-3-2-1 ] text-news ========================================================================================================== */
.text-news {
  width: 260px;
  padding: 0 1rem;
  margin: 2rem 0;
}

.upper {
  padding-bottom: 1rem;
}

.upper h2 {
  margin-top: 0;
}

.downer .speaker {
  align-items: center;
}
/* sec-event ==> end [ 4-3-2-2 ] text-news ====================================================================================================== */

/* body ==> end [ 4-3-2 ] sec-event =============================================================================================================> */

/* end [ 4 ] sections ==> [ 4-3 ] body ========================================================================================================== */

/* end [ 4 ] sections ============================================================================================================================= */
